* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

.flex {
    display: flex;
}

small {
    opacity:50%;
}

.start{
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

.end{
justify-content:flex-end;
width: 100%;

}

/*Header*/

.container-header {
    height: 100px;
    background-color: aquamarine;
}

/*Main*/

main {
    background-color: gainsboro;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.container-main {
    border: 1px solid black;
    width: 1600px;
    position: absolute;
    top: 30px;
}

/*header main*/

.header-main {
    background-color: #999999;
}

.container-user{
    align-items: center;
    justify-content: space-between;
    width: 20%;
    border-right: 1px solid #777777;
}

.container-header-chat{
    width: 80%;
}

.container-tools> i {
    padding: 5px;
}

.container-header-chat{
    align-items: center;
    justify-content: space-between;
}

.user>img, .user-info>img{
    width: 40px;
    margin: 10px;
    border-radius: 50%;
}

.user{
    justify-content: center;
    align-items: center;
}

/*aside*/

aside{
    flex-direction: column;
    width: 20%;
}

.info {
    background-color: aqua;
    min-height: 80px;
}

nav{
    background-color: white;
    min-height: 30px;
}

.container-contatti{
    overflow-y: auto;
    max-height: 700px;
    background-color: white;
}

.contatto{
    padding: 20px;
    justify-content: space-between;
}

.contatto:hover{
    background-color: #999999;
}

.user-info{
    justify-content: center;
    align-items: center;
}

nav>input{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav>button{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Body Message*/

.body-message{
    overflow-y: auto;
    height: calc(100% - 50px);
    background-image: url(../img/mine.jpg);
}

.container-footer-body-message{
    flex-direction: column;
    width: 80%;
}

.me{
    background-color:white ;
    padding: 10px;
    margin:10px;
}

.you{
    background-color: greenyellow;
    padding: 10px;
    margin:10px;
}

/*footer*/

.container-footer{
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: gainsboro;
}

.text{
    width: 1000px;
}
