* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

.flex {
    display: flex;
}

small {
    opacity:50%;
}

/*Header*/

.container-header {
    height: 100px;
    background-color: aquamarine;
}

/*Main*/

main {
    background-color: gainsboro;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.container-main {
    border: 1px solid black;
    width: 900px;
    position: absolute;
    top: 30px;
}

/*header main*/

.header-main {
    background-color: #999999;
}

.container-user{
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border-right: 1px solid #777777;
}

.container-header-chat{
    width: 70%;
}

.container-tools> i {
    padding: 5px;
}

.container-header-chat{
    align-items: center;
    justify-content: space-between;
}

/*aside*/

aside{
    flex-direction: column;
    width: 30%;
}

.info {
    background-color: aqua;
    min-height: 70px;
}

nav{
    background-color: white;
    min-height: 30px;
}

.container-contatti{
    overflow-y: auto;
    max-height: 700px;
    background-color: white;
}

.contatto{
    padding: 20px;
    justify-content: space-between;
}

.contatto:hover{
    background-color: #555555;
}

/* Body Message*/

.body-message{
    background-color: yellow;
    overflow-y: auto;
    height: 800px;
    
}

.container-footer-body-message{
    flex-direction: column;
    width: 70%;
}

/*footer*/

.container-footer{
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.text{
    
}